// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Main Color Scheme
$baby-powder: #FDFFFC;
$rich-black: #011627;
$rich-grey: #28353f;
$rose-madder: #E71D36;
$orange-peel: #FF9F1C;
$steel-teal: #588B8B;

// colors for gradient button (using rose-madder and orange-peel from main color scheme)
$white: #fff;
$dark-red: #D32F2F;
