// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// colors for gradient button
$white: #fff;
$light-red:#F44336;
$dark-orange: #FF5722;
$dark-red: #D32F2F;
