  <h1 class="text-center py-3 bg-gradient-primary text-white">Bookings people are requesting</h1>
  <% if @bookings.empty? %>
    <h2 class="text-center my-5">No bookings yet 😢</h2>
  <% else %>
    <% @bookings.each do |booking| %>
      <% if booking.status == 'pending' %>
        <%= render 'bookings/bookingtable', booking: booking %>

      <% else  %>
        <%= render 'bookings/bookingtable', booking: booking %>
      <%# <p class='booking-tag'><%= booking.status %>
      <% end %>
    <% end %>
  <% end %>
