<h1>My Bookings</h1>

<% if @bookings.empty? %>
  <p>No bookings</p>
<% else %>
  <% @bookings.each do |booking| %>
    <p>You have booked: <%= booking.doppelganger %><p>
    <p>Start time: <%= booking.start_time %><p>
    <p>End time: <%= booking.end_time %></p>
    <p>Location: <%= booking.location %></p>
  <% end %>
<% end %>
