<div class="col-lg-6 col-md-12 col-12 col-sm-12">
  <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item">Here is your doppelganger</li>
    <li class="list-group-item"><%= link_to 'Your bookings', '/owner/bookings', class: 'btn btn-primary mb-2' %></li>
</div>
