<div class="container">
  <h1>Requested Bookings</h1>
  <% if @bookings.empty? %>
    <p>No bookings</p>
  <% else %>
  <%= render 'bookings/bookingtable', booking: @booking %>
  <% end %>
</div>

<div class="container">
  <h1>Accepted Bookings</h1>
</div>
