<h1>Requested Bookings</h1>
<% if @bookings.empty? %>
  <p>No bookings</p>
<% else %>
  <% @bookings.each do |booking| %>
    <p>Booking for: <%= booking.doppelganger.name %><p>
    <p>Start time: <%= booking.start_time %><p>
    <p>End time: <%= booking.end_time %></p>
    <p>Location: <%= booking.location %></p>
  <% end %>
<% end %>

<h1>Accepted Bookings</h1>
