<h1 class="text-center py-3 bg-gradient-primary text-white">Bookings you have made</h1>
<% if @bookings.empty? %>
  <p>No bookings</p>
<% else %>
<%= render 'bookings/bookingtable', booking: @booking %>
<% end %>
