<div class="container">
  <div class="card-product">
  <img src="https://indyweek.com/downloads/20957/download/identical-blake-rayne1.jpe?cb=f4c957f9e7b68350f76f7ccc0e4b2b20&w=670&h=" />
  <div class="card-product-infos">
    <div class="card-product-title">
    <div>
      <h3>Elvis located in Shibuya</h3>
      <h2>The best Elvis of Tokyo</h2>
    </div>
    </div>
    <div class="card-product-price">
    <div>
      <p>¥3,000 / hour</p>
      <p class="total-price">¥6,000 total</p>
    </div>
    </div>
  </div>
</div>
</div>
