<div class="footer mt-2">
  <div class="footer-links">
    <a href="https://github.com/teslazonda/Doppelganger-Finder" class="mr-2"><i class="fab fa-github text-white"></i> Open repository</a>
    <a href="https://github.com/teslazonda" class="mr-2"><i class="fab fa-github"></i> Quill</a>
    <a href="https://github.com/Sae-S" class="mr-2"><i class="fab fa-github"></i> Sae</a>
    <a href="https://github.com/neoke20" class="mr-2"><i class="fab fa-github"></i> Kevin</a>
    <a href="https://github.com/Tokyo-Viddy"><i class="fab fa-github"></i> Viddy</a>
  </div>
  <div class="footer-copyright">
    This page was made at Le Wagon
  </div>
</div>
