<div class="container">
<div class="row">
  <div class="card-profile">
    <img src="https://assets.teenvogue.com/photos/57b08c13d87096e82f6e5f94/master/pass/Screen%20Shot%202016-08-14%20at%2011.19.23%20AM.png" />
    <div class="card-profile-info">
      <h2>Discover Harry Potter's profile</h2>
    </div>
  </div>
</div>
</div>
