<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="container my-3">
        <div class="card-product">
          <img src="https://source.unsplash.com/random/500x500">
          <div class="card-product-infos">
            <div class="card-product-title">
            <div>
              <h3>Elvis near you</h3>
              <h2>The best Elvis</h2>
            </div>
            </div>
            <div class="card-product-price">
            <div>
              <p>짜2,000 / hour</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="container my-3">
        <div class="card-product">
          <img src="https://source.unsplash.com/random/500x500">
          <div class="card-product-infos">
            <div class="card-product-title">
            <div>
              <h3>Elvis near you</h3>
              <h2>The best Elvis</h2>
            </div>
            </div>
            <div class="card-product-price">
            <div>
              <p>짜2,000 / hour</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="container my-3">
        <div class="card-product">
          <img src="https://source.unsplash.com/random/500x500">
          <div class="card-product-infos">
            <div class="card-product-title">
            <div>
              <h3>Elvis near you</h3>
              <h2>The best Elvis</h2>
            </div>
            </div>
            <div class="card-product-price">
            <div>
              <p>짜2,000 / hour</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="container my-3">
        <div class="card-product">
          <img src="https://source.unsplash.com/random/500x500">
          <div class="card-product-infos">
            <div class="card-product-title">
            <div>
              <h3>Elvis near you</h3>
              <h2>The best Elvis</h2>
            </div>
            </div>
            <div class="card-product-price">
            <div>
              <p>짜2,000 / hour</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
