.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.banner-content {
  padding: 200px 0 0 0;
}

.banner h1 {
  margin: 0;
  padding-bottom: 24px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.banner h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
.inline-form {
  flex-direction: column;
  align-self: center;
}
.banner-form {
  align-self: center;
}
// For the text effect black and white
.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-box h1 {
	font-size: 40px;
	font-weight: 900;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	display: block;
	padding: .5em;
}

.text-box h1:nth-child(2) {
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
	color: #000;
	clip-path: inset(-1% -1% 50% -1%); // Added the negative values to prevent icky "bleed" in Chrome
}
@media only screen and (max-width: 770px){
    .text-box h1 {
      font-size: 32px;
    }
}
