.navbar-lewagon {
  justify-content: space-between;
  background: $baby-powder;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#navbar-logo {
  font-size: 32px;
  color: $steel-teal;
}
#app-title {
  color: $steel-teal;
  font-size: 16px;
}

.button-outline {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 8px;
    &:hover {
      text-decoration: none;
      background-color: $steel-teal;
      border: 1px solid $steel-teal;
      color:white
    }
}
