
<%# <div>
  <%= "#{params[:name]} in #{params[:location]} | #{params[:booking_start]} TO #{params[:booking_end]}" %>
<%# </div> %>

<% @doppelgangers.each do |doppelganger| %>

<%= render 'shared/doppelgangercard', doppelganger: doppelganger %>

<% end %>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
